
@media screen and (max-width:800px){
    .Navigation .Pages{

        width: 300px;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        position: fixed;
        right: 0;
        top: 80px;
        display: none;
        padding: 40px 40px;
    }
    .Navigation .Pages .link{
        margin-top: 30px;
    }
    .Navigation .Pages li{
        margin-top: 10px;
    }
}